<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello </h1>
    <p>
      voici le code que tu devras renseigner avec ton nouveau mot de passe : <%= @user.password_reset_token %>.
    </p>
    <p>
      Pour accéder accerder au formulaire : <%= @url %>.
    </p>
    <p> À très vite sur Immocoin.fr ! </p>
  </body>
</html>